<header>
  <div class="container">
    <center>
    <a href="{{@blog.url}}">
      <img src="https://s3-us-west-2.amazonaws.com/uppukhara/header.png" width="955" height="544"></img>
    </a>
    <br/><br/><br/>

    <div class="navbar navbar-inverse">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="{{@blog.url}}">Recipes</a></li>
            <li><a href="{{@blog.url}}/rss/">Subscribe</a></li>
            <!-- <li><a href="{{@blog.url}}/photos">Photo Gallery</a></li> -->
            <!-- <li><a href="{{@blog.url}}/archive">Archive</a></li> -->
            {{!-- <li><a href="{{@blog.url}}/pinterest">Pinterest</a></li> --}}
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </div>
    </center>
  </div>

</header>
