<!DOCTYPE html>
<html>
<head>
    {{! Document Settings }}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{! Page Meta }}
    <title>{{meta_title}} - Cooking In Pjs</title>
    <meta name="description" content="{{meta_description}}" />
    <meta name="keywords" content="cooking,pajamas,pjs,cooking in pjs,cooking in pajamas,recipes,food,anagha,sumedha">
    <meta name="google-site-verification" content="drZtowqCg3kkIM6QV-hjvixxTj0KysveLdOcO-ojxIQ" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" href="{{asset "images/favicon.ico"}}">

    {{! Styles'n'Scripts }}
    <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.1.js"></script>
    <script src="{{asset "js/jquery.ghostHunter.min.js"}}"></script>
    <link rel="stylesheet" type="text/css" href="{{asset "css/style.css"}}" />

    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}
</head>
<body class="{{body_class}}">

    {{> "header"}}
    <div class="main-content">
      <div class="container-fluid post-index">
        <div class="col-xs-3 sidebar text-center">
          {{> "sidebar"}}
        </div>
        <div class="col-xs-9">
          <section id="results" class="text-center"></section>
          {{{body}}}
        </div>
      </div>
    </div>
    <br><br>

    {{> "footer"}}

    <div class="alert alert-dismissible subscribe-bottom" role="alert">
      <div>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <p>Sign up to receive updates straight in your inbox!</p>

        <center><form action="//cookinginpjs.us9.list-manage.com/subscribe/post?u=2aa1dc89f268f2587a11ea242&amp;id=220e63abc7" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <div class="form-group">
            <input type="email" value="" name="EMAIL" class="form-control required email" id="mce-EMAIL" placeholder="Enter email">
          </div>
          <div id="mce-responses" class="clear">
            <div class="response" id="mce-error-response" style="display:none"></div>
            <div class="response" id="mce-success-response" style="display:none"></div>
          </div>
          <div style="position: absolute; left: -5000px;"><input type="text" name="b_2aa1dc89f268f2587a11ea242_220e63abc7" tabindex="-1" value=""></div>
          <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-default"></div>
        </form></center>

        <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
      </div>
    </div>


    {{! Ghost outputs important scripts and data with this tag }}
    {{ghost_foot}}

    {{! JavaScript files }}
    <script type="text/javascript" src="{{asset "js/jquery.fitvids.js"}}"></script>
    <script src="{{asset "js/bootstrap.min.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/application.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/masonry.pkgd.min.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/moment.min.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/jquery.easing.min.js"}}"></script>
    <!-- Please call pinit.js only once per page -->
    <script type="text/javascript" async defer  data-pin-shape="round" data-pin-height="32" data-pin-hover="true" src="//assets.pinterest.com/js/pinit.js"></script>
</body>
</html>
