<!DOCTYPE html>
<html>
<head>
    {{! Document Settings }}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{! Page Meta }}
    <title>{{meta_title}} - Cooking In Pjs</title>
    <meta name="description" content="{{meta_description}}" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" href="{{asset "images/favicon.ico"}}">

    {{! Styles'n'Scripts }}
    <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.1.js"></script>
    <script src="{{asset "js/bootstrap.min.js"}}"></script>
    <link rel="stylesheet" type="text/css" href="{{asset "css/style.css"}}" />
    <script type="text/javascript">
        $(document).ready(function(){
            $('#myModal').appendTo("body").modal('show');
            $("#myModal").css("z-index", "1500");
        });
    </script>

    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}
</head>
<body class="{{body_class}}">

    <div class="container-fluid">
        {{> "header"}}
        {{{body}}}
    </div>

    <br><br>

    {{> "footer"}}

    {{! Ghost outputs important scripts and data with this tag }}
    {{ghost_foot}}

    {{! JavaScript files }}
    <script type="text/javascript" src="{{asset "js/jquery.fitvids.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/application.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/masonry.pkgd.min.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/moment.min.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/jquery.easing.min.js"}}"></script>
    <!-- Please call pinit.js only once per page -->
    <script type="text/javascript" async defer  data-pin-shape="round" data-pin-height="32" data-pin-hover="true" src="//assets.pinterest.com/js/pinit.js"></script>
</body>
</html>
