{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{! Everything inside the #post tags pulls data from the post }}

{{#post}}

<!-- more visible social buttons for post -->
{{!-- <ul class="social-fixed">
  <li><a class="btn subscribe" href="http://eepurl.com/7YH6z"><i class="ion ion-social-rss"></i></a></li>
  <li><a class="btn comments" href="{{url}}#disqus_thread"><i class="ion ion-chatbubble"></i></a></li>
  <li><a class="btn twitter" href="https://twitter.com/share?text={{encode title}}&amp;url={{url absolute="true"}}"><i class="ion ion-social-twitter"></i></a></li>
  <li><a class="btn facebook" href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}"><i class="ion ion-social-facebook"></i></a></li>
  <li><a class="btn gplus" href="https://plus.google.com/share?url={{url absolute="true"}}"><i class="ion ion-social-googleplus"></i></a></li>
</ul> --}}

 <article class="{{post_class}}" id="posts">
    <center>
      <h1>{{title}}</h1>

      <div class="post-meta date" style="color: #92b3d4">
          {{tags separator=" #" prefix="#"}}
          <br>
          <i class="ion-calendar"></i> <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="MMMM DD, YYYY"}}</time>
          <i class="ion-chatbubble"></i> <a href="{{url}}#comments"><span class="fb-comments-count" data-href="{{@blog.url}}{{url}}"></span> Comments</a>
          <br>
          by {{#if author.image}}<img class="author-thumb" src="{{author.image}}" alt="Author image" nopin="nopin" />{{/if}} <span class="author"><a href="{{author.website}}">{{author.name}}</a></a></span>
        <section id="social-sharing">
          <div class="fb-like" data-href="{{@blog.url}}{{url}}" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
{{!--           <a class="btn twitter" href="https://twitter.com/share?text={{encode title}}&amp;url={{url absolute="true"}}"><img src="{{asset "images/twitter-share.png"}}"></a>
          <a class="btn facebook" href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}"><img src="{{asset "images/facebook-share.png"}}"></a>
          <a class="btn pinterest" href="http://pinterest.com/pin/create/bookmarklet/?media={{image absolute=V"true"}}&url={{url absolute="true"}}&is_video=false&description={{encode title}} | Cooking In Pajamas"><img src="{{asset "images/pinterest-share.png"}}"></a>
          <a class="btn reddit" href="http://www.reddit.com/submit?url={{url absolute="true"}}&title={{encode title}}"><i class="ion ion-social-reddit"></i></a>
          <a class="btn gplus" href="https://plus.google.com/share?url={{url absolute="true"}}"><i class="ion ion-social-googleplus"></i></a> --}}
        </section>
      </div>
    </center>
    <hr>
    <div class="post-content">
      {{content}}
    </div>

    <aside class="read-next">
        {{#next_post}}
        <a class="read-next-story {{#if image}}" style="background-image: url({{image}}){{else}}no-cover{{/if}}" href="{{url}}">
            <section class="post">
                <h1>{{title}}</h1>
                {{!-- <p>{{excerpt words="19"}}&hellip;</p> --}}
            </section>
        </a>
        {{/next_post}}
        {{#prev_post}}
        <a class="read-next-story prev {{#if image}}" style="background-image: url({{image}}){{else}}no-cover{{/if}}" href="{{url}}">
            <section class="post">
                <h1>{{title}}</h1>
                {{!-- <p>{{excerpt words="19"}}&hellip;</p> --}}
            </section>
        </a>
        {{/prev_post}}
    </aside>

    <hr>
    <div class="post-footer text-center">

        <section class="date">
          {{tags separator=" #" prefix="#"}}
        </section>
        <section id="comments" class="comments">
          <div class="fb-comments" data-href="{{@blog.url}}{{url}}" data-numposts="5" data-width="100%" data-order-by="social"></div>
        </section>

      </div>

  </article>

<!-- {{!-- http://www.pinterest.com/pin/create/button/?url={{url absolute="true"}}&media=http%3A%2F%2Ffarm8.staticflickr.com%2F7027%2F6851755809_df5b2051c9_z.jpg&description=SumNinjaCode - {{title}}" --}} -->

{{/post}}
