<center class="@post-header">
  <p class="title">
    <h1><%= @post.title %></h1>
  </p>
  <p class="date">
    <span class="ion-calendar"></span>
<!--      t.strftime('%A'), => Thursday
t.strftime('%B'), => January
t.strftime('%C'), => 20
-->
    <%= @post.created_at.strftime('%a') %>
    <%= @post.created_at.strftime('%B') %>
    <%= @post.created_at.strftime('%C') %>,
    <%= @post.created_at.strftime('%G') %> @
    <%= @post.created_at.strftime('%l') %>:<%= @post.created_at.strftime('%M') %> <%= @post.created_at.strftime('%p') %>
  </p>
</center>
<hr>
<p class="@post-content">
  <%= @post.content %>
</p>
