<div class="container-fluid">
  <div class="post-index">
    <div class="posts-container comments">
      <p id="notice"><%= notice %></p>
        <%= render :partial => 'post' %>

        <div class="spacer">
          <div class="mask"></div>
        </div>

        <h3>Comments</h3>
        <hr>
        <div id="comments">
          <%= render :partial => @post.comments %>
        </div>
        <%= form_for [@post, Comment.new], :remote => true do |f| %>
         <p>
           <%= f.text_area :body, :class => "form-control" %>
         </p>
         <p><%= f.submit "Add comment", :class => 'btn' %></p>
        <% end %>
    </div>
  </div>
</div>
