{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{! Everything inside the #post tags pulls data from the post }}
{{#post}}

<main class="content container" role="main">

   <article class="{{post_class}} post" id="posts">
    <div class="post-header"><br/></div>
    <div class="post-content">
        <center>
            <h2><h2 class="post-title"><a href="{{url}}">{{title}}</a></h2>
        </center>
        <hr>
        <small>
          <p class="date">
            <span class="ion-calendar"></span>
            <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="MMMM DD YYYY"}}</time>
          </p>
        </small>
        <div class="post-body post-excerpt">
            {{content}}
        </div>

        <footer class="post-footer text-center">

            <section id="tags">
                {{> "tags"}}
            </section>
            <br>

            <section class="share">
                <h4>
                    Share this post
                    <br><br>
                    <small>
                        <a href="https://twitter.com/share?text={{encode title}}&amp;url={{url absolute="true"}}" class="btn-social"><i class="ion-social-twitter animated"></i></a>
                        <a href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}" class="btn-social"><i class="ion-social-facebook animated"></i></a>
                        <a href="https://plus.google.com/share?url={{url absolute="true"}}" class="btn-social"><i class="ion-social-googleplus animated"></i></a>
                        <a href="http://www.pinterest.com/pin/create/button/?url={{url absolute="true"}}&description={{title}} | UppuKhara" class="btn-social"><i class="ion-social-pinterest animated"></i></a>
                    </small>
                </h4>
            </section>

        </footer>
        </div>

    </article>

</main>

{{!-- http://www.pinterest.com/pin/create/button/?url={{url absolute="true"}}&media=http%3A%2F%2Ffarm8.staticflickr.com%2F7027%2F6851755809_df5b2051c9_z.jpg&description=SumNinjaCode - {{title}}" --}}

{{/post}}
