{{! Previous/next page links - displayed on every page }}
{{pagination}}

{{! This is the post loop - each post will be output using this markup }}
{{#foreach posts}}
<article class="{{post_class}}">
    <footer class="post-meta">
        <i class="ion-pricetag"></i> {{tags}}
        <i class="ion-calendar"></i> <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time>
        <i class="ion-chatbubble"></i><a href="{{url}}#disqus_thread">Link</a>
    </footer>
    <header class="post-header">
        <h2 class="post-title"><a href="{{url}}">{{{title}}}</a></h2>
    </header>
    <section class="post-excerpt">
      {{content}}
    </section>
</article>
{{/foreach}}

{{! Previous/next page links - displayed on every page }}
{{pagination}}
