{{! Previous/next page links - only displayed on page 2+ }}
{{!-- <div class="extra-pagination inner">
    {{pagination}}
</div> --}}

{{! This is the post loop - each post will be output using this markup }}

<div style="padding-bottom: 2em">
{{#foreach posts}}
<article class="{{post_class}} post" id="posts">
  <p>
    <center class="post-header">
      <p class="title">
        <h1><a href="{{url}}">{{title}}</a></h1>
      </p>
      <p class="date">
        by {{#if author.image}}<img class="author-thumb" src="{{author.image}}" alt="Author image" nopin="nopin" />{{/if}} <span class="author"><a href="{{author.website}}">{{author.name}}</a></a></span>
      </p>
      <p class="date">
          <span class="ion-calendar"></span>
          <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="MMMM DD YYYY"}}</time>
      </p>
    </center>
  </p>
  <hr>
  <p class="post-content">
    {{content}}
  </p>
  <br>

  <div class="post-footer text-center">
    <section id="tags">
      {{> "tags"}}
    </section>
  </div>
</article>
{{/foreach}}
</div>

{{! Previous/next page links - displayed on every page }}
<div class="text-center">{{pagination}}</div>
