{{! Previous/next page links - only displayed on page 2+ }}
{{!-- <div class="extra-pagination inner">
    {{pagination}}
</div> --}}

{{! This is the post loop - each post will be output using this markup }}

<div style="padding-bottom: 2em">
{{#foreach posts}}
<article class="{{post_class}} post" id="posts">
  <p>
    <center class="post-header">
      <div class="title">
        <h1><a href="{{url}}">{{title}}</a></h1>
      </div>

      <div class="post-meta date" style="color: #92b3d4">
          <i class="ion-pricetag"></i> {{tags}}
          <br>
          <i class="ion-calendar"></i> <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="MMMM DD, YYYY"}}</time>
          <i class="ion-chatbubble"></i> <a href="{{url}}#comments"><span class="fb-comments-count" data-href="{{url}}"></span> Comments</a>
          <br>
          by {{#if author.image}}<img class="author-thumb" src="{{author.image}}" alt="Author image" nopin="nopin" />{{/if}} <span class="author"><a href="{{author.website}}">{{author.name}}</a></a></span>
      </div>
      {{!-- <p class="date">
        by {{#if author.image}}<img class="author-thumb" src="{{author.image}}" alt="Author image" nopin="nopin" />{{/if}} <span class="author"><a href="{{author.website}}">{{author.name}}</a></a></span>
      </p>
      <p class="date">
          <span class="ion-calendar"></span>
          <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="MMMM DD YYYY"}}</time>
      </p> --}}
    </center>
  </p>
  <hr>
  <div class="post-content">
    {{content words="150"}}<a href="{{url}}" title="{{title}}" class="button button-primary more-link">Read&nbsp;more&nbsp;</a></p>
  </div>
  <br>

{{!--   <div class="post-footer text-center">
    <section id="tags">
      {{> "tags"}}
    </section>
  </div> --}}
</article>
{{/foreach}}
</div>

{{! Previous/next page links - displayed on every page }}
<div class="text-center">{{pagination}}</div>
