<div class="navbar ribbon" style="text-transform: uppercase">
  <div class="navbar-inner ribbon-content border-box">
    <ul class="nav">
      {{!-- <li><a href="{{@blog.url}}" class="active">Home</a></li> --}}
      <li><a href="{{@blog.url}}/tag/herbivores">Herbivores</a></li>
      <li><a href="{{@blog.url}}/tag/carnivores">Carnivores</a></li>
      <li><a href="{{@blog.url}}/tag/desserts">Sugar Rush</a></li>
      <li><a href="{{@blog.url}}/tag/giggle-juice">Giggle Juice</a></li>
      <li><a href="{{@blog.url}}/tag/eating-out">Eating Out</a></li>
      {{!-- <li><a href="http://eepurl.com/7YH6z">Subscribe</a></li> --}}
      {{!-- <li><a href="{{@blog.url}}/about">About</a></li> --}}
    </ul>
  </div>
</div>