<div id="top-bar">
  <div id="nav-wrapper">
    <ul class="menu">
      <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="{{@blog.url}}"><img style="max-height: 3rem; padding-top: 0.25rem; padding-bottom: 0rem" src="{{asset "images/pants.png"}}"></a></li>
      <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="{{@blog.url}}/tag/herbivores">Herbivores</a></li>
      <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="{{@blog.url}}/tag/carnivores">Carnivores</a></li>
      <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="{{@blog.url}}/tag/desserts">Sugar Rush</a></li>
      <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="{{@blog.url}}/tag/giggle-juice">Giggle Juice</a></li>
      <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="{{@blog.url}}/tag/eating-out">Eating Out</a></li>
      <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="{{@blog.url}}/about/">ABOUT</a></li>
    </ul>     
  </div>
</div>