<style>
  .ribbon {
    max-width: 694px;
    height: 157px;
  }
  .ribbon-content {
    height: 145px !important; 
  }

  @media (min-width: 290px) {
    .ribbon {
      max-width: 694px;
      height: 157px;
    }
    .ribbon-content {
      height: 145px !important; 
    }
  }

  @media (min-width: 400px) {
    .ribbon {
      max-width: 694px;
      height: 122px;
    }
    .ribbon-content {
      height: 110px !important; 
    }
  }


  @media (min-width: 413px) {
    .ribbon {
      max-width: 694px;
      height: 89px;
    }
    .ribbon-content {
      height: 77px !important; 
    }
  }

  @media (min-width: 992px) {
    .ribbon {
      max-width: 896px;
      height: auto;
    }
    .ribbon-content {
      height: auto !important; 
    }
  }

  @media (min-width: 1200px) {
    .ribbon {
      max-width: 1000px;
      height: auto;
    }
    .ribbon-content {
      height: auto !important; 
    }
  }
</style>

<div class="navbar ribbon">
  <div class="navbar-inner ribbon-content border-box">
    <ul class="nav">
      <li><a href="{{@blog.url}}" class="active">Home</a></li>
      <li><a href="{{@blog.url}}/tag/herbivores">Herbivores</a></li>
      <li><a href="{{@blog.url}}/tag/carnivores">Carnivores</a></li>
      <li><a href="{{@blog.url}}/tag/desserts">Desserts</a></li>
      <li><a href="{{@blog.url}}/tag/giggle-juice">Giggle Juice</a></li>
      <li><a href="http://eepurl.com/7YH6z">Subscribe</a></li>
      <li><a href="{{@blog.url}}/about">About</a></li>
    </ul>
  </div>
</div>