<img src="{{asset "images/divider-long.png"}}" style="background: white">

<!-- Static navbar -->
<nav class="navbar navbar-default">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
      <span class="sr-only">Toggle navigation</span>
      <img src="{{asset "images/mixer-50.png"}}">
    </button>
    {{!-- <a class="navbar-brand" href="{{@blog.url}}">Home</a> --}}
    <a class="navbar-brand" href="http://eepurl.com/7YH6z"><i class="ion-social-rss"></i></a>
  </div>
  <div id="navbar" class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
      <li><a href="{{@blog.url}}/tag/herbivores">Herbivores</a></li>
      <li><a href="{{@blog.url}}/tag/carnivores">Carnivores</a></li>
      <li><a href="{{@blog.url}}/tag/desserts">Desserts</a></li>
      <li><a href="{{@blog.url}}/tag/giggle-juice">Giggle Juice</a></li>
      <li><a href="{{@blog.url}}/tag/eating-out">Eating Out</a></li>
      <li><a href="http://eepurl.com/7YH6z">Subscribe</a></li>
    </ul>
  </div><!--/.nav-collapse -->
</nav>

<img src="{{asset "images/divider-long.png"}}" style="background: white">