{{> "challenge"}}

<img class="divider" src="{{asset "images/divider.png"}}">

{{> "recent-posts"}}

<img class="divider" src="{{asset "images/divider-mixer.png"}}">

{{!-- ABOUT US --}}
<h2>Hello & Welcome</h2>

<p><img class="circle" data-pin-no-hover="true" src="{{asset "images/about.jpg"}}"></p>

<div class="about"><p>This is the blog of <a href="http://sumninjacode.io">Sumu</a> and <a href="http://dearuniverse.me">Anu</a>, wayfaring adventurers and aspiring home cooks.</p></div>

<p><a href="{{@blog.url}}/about">More about us!</a></p>

{{> "twitter"}}

{{!-- RECIPE HIGHLIGHTS --}}
<h2>*Cue Drool*</h2>
{{!-- INSTAFEED --}}
<div id="instafeed"></div>

<img class="divider" src="{{asset "images/divider.png"}}">

{{> "subscribe"}}

<img class="divider" src="{{asset "images/divider-mixer.png"}}">

{{> "other-blogs"}}

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Cooking In Pajamas -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-2905840351559408"
     data-ad-slot="1776887355"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>

