{{!-- 2016 Challenge --}}
<script>
function onSuccess(data) {
  // console.log('tags: ' + data.tags);
  var anu, sumu = 0;
  $.each(data.tags, function (i, tag) {
    // console.log(tag);
    if(tag.slug == "anuchallenge2016") {
      anu = tag.count.posts;
      $('#anu-count').append(anu);
    } else if(tag.slug == "sumuchallenge2016") {
      sumu = tag.count.posts;
      $('#sumu-count').append(sumu);
    }

    // //highlight current winner if any
    // if(anu > sumu) {
    //   $('#anu').addClass("animated infinite pulse");
    // } else {
    //   $('#sumu').addClass("animated infinite pulse");
    // }
  });
}

jQuery(document).ready(function () {
  $.get(
    ghost.url.api('tags', {limit: 'all', include: 'count.posts'})
  ).done(onSuccess);
});

</script>

<h2>2016 Post Challenge</h2>
<p>Keep us on our toes! Here's how we're doing on our 2016 New Years post challenge!</p>
<div id="challenge-count" class="row">
  <div class="one-half column"><center>
    <image id="anu" class="author-thumb" src="{{asset "images/anu.jpeg"}}"><br>
    <a href="{{@blog.url}}/tag/anuchallenge2016">Anu: <span id="anu-count"></span></a>
  </center></div>
  <div class="one-half column"><center>
    <image id="sumu" class="author-thumb" src="{{asset "images/sumu.jpeg"}}"><br>
    <a href="{{@blog.url}}/tag/sumuchallenge2016">Sumu: <span id="sumu-count"></span></a>
  </center></div>
</div>

<img class="divider" src="{{asset "images/divider.png"}}">

{{> "recent-posts"}}

<img class="divider" src="{{asset "images/divider-mixer.png"}}">

{{!-- ABOUT US --}}
<h2>Hello & Welcome</h2>

<p><img class="circle" data-pin-no-hover="true" src="{{asset "images/about.jpg"}}"></p>

<div class="about"><p>This is the blog of <a href="http://sumninjacode.io">Sumu</a> and <a href="http://dearuniverse.me">Anu</a>, wayfaring adventurers and aspiring home cooks.</p></div>

<p><a href="{{@blog.url}}/about">More about us!</a></p>

{{> "twitter"}}

{{!-- RECIPE HIGHLIGHTS --}}
<h2>*Cue Drool*</h2>
{{!-- INSTAFEED --}}
<div id="instafeed"></div>

<img class="divider" src="{{asset "images/divider.png"}}">

{{> "subscribe"}}

<img class="divider" src="{{asset "images/divider-mixer.png"}}">

{{> "other-blogs"}}

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Cooking In Pajamas -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-2905840351559408"
     data-ad-slot="1776887355"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>

