<script>
  var loadRecentPosts = function(amount, cb) {
    var rss = $('link[type="application/rss+xml"]').attr('href');
    $.get(rss, function(data) {
      var parsed = $.parseXML(data);
      // Only display the first number of posts (defined by amount)
      var posts = $(data).find('item').slice(0, amount);
      var recent = [];
      // Loop posts
      for (var i = 0; posts && i < posts.length; i++) {
        var post = posts.eq(i);
        recent.push({
          title: post.find('title').text(),
          link: post.find('link').text(),
          date: post.find('pubDate').text()
        });
      }
      cb(recent);
    });
  };
  // Gets called on document ready
  $(function() {
    // Display 5 posts
    loadRecentPosts(5, function(posts) {
      for (var i = 0; i < posts.length; i++) {
        var post = posts[i];
        // Post is an object with a title, link and date property
        // Create a wrapper with jQuery and append/insert anywhere
        $("#latest-posts").append("<li><a href=\"" + post.link + "\">" + post.title + "</a></li>");
      }
    });
  });
</script>

{{!-- RECENT POSTS --}}
<h2>Latest Posts</h2>
<ul id="latest-posts"></ul>
<br>
<form>
  <input class="form-control" id="search-field" placeholder="Find a Post"/>
  <input id="search-submit" type="submit" class="btn btn-default" value="SEARCH">
</form>

<script>
$("#search-field").ghostHunter({
    results         : "#results",
    onKeyUp         : true
});
</script>

<img class="divider" src="{{asset "images/divider-mixer.png"}}">

{{!-- ABOUT US --}}
<h2>Hello & Welcome</h2>
<p><img class="img-responsive img-circle" data-pin-no-hover="true" src="{{asset "images/about.jpg"}}"></p>
<p>
  This is the blog of <a href="http://sumninjacode.io">Sumu</a> and <a href="http://dearuniverse.me">Anu</a>, wayfaring adventurers and aspiring home cooks.
</p>
<a href="{{@blog.url}}/about">More about us!</a>

<img class="divider" src="{{asset "images/divider.png"}}">

{{!-- SUBSCRIBE --}}
<h2>Subscribed yet?</h2>
<p>Sign up to receive updates straight in your inbox!</p>

<form action="//cookinginpjs.us9.list-manage.com/subscribe/post?u=2aa1dc89f268f2587a11ea242&amp;id=220e63abc7" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
  <div class="form-group">
    <input type="email" value="" name="EMAIL" class="form-control required email" id="mce-EMAIL" placeholder="Enter email">
  </div>
  <div id="mce-responses" class="clear">
    <div class="response" id="mce-error-response" style="display:none"></div>
    <div class="response" id="mce-success-response" style="display:none"></div>
  </div>
  <div style="position: absolute; left: -5000px;"><input type="text" name="b_2aa1dc89f268f2587a11ea242_220e63abc7" tabindex="-1" value=""></div>
  <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-default animated infinite tada"></div>
</form>

<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>

<img class="divider" src="{{asset "images/divider-mixer.png"}}">

{{!-- RECIPE HIGHLIGHTS --}}
<h2>Our Favorites</h2>
<ul class="img-list">
  <li><center>
    <a href="http://cookinginpjs.com/quinoa-veggie-burger/">
      <img src="{{asset "images/quinoa.jpg"}}" data-pin-no-hover="true"/>
      <span class="text-content"><span><h3>Quinoa Veggie Patty</h3></span></span>
    </a>
  </center></li>
  <li><center>
    <a href="http://cookinginpjs.com/pho/">
      <img src="{{asset "images/pho.jpg"}}" data-pin-no-hover="true"/>
      <span class="text-content"><span><h3>Vegetarian Pho</h3></span></span>
    </a>
  </center></li>
  <li><center>
    <a href="http://cookinginpjs.com/the-love-child-of-pumpkin-pie-and-tiramisu/">
      <img src="{{asset "images/tiramisu.jpg"}}" data-pin-no-hover="true"/>
      <span class="text-content"><span><h3>Pumpkin Tiramisu</h3></span></span>
    </a>
  </center></li>
  <li><center>
    <a href="http://cookinginpjs.com/sushi-go-round/">
      <img src="{{asset "images/sushi.jpg"}}" data-pin-no-hover="true"/>
      <span class="text-content"><span><h3>Vegetarian Sushi</h3></span></span>
    </a>
  </center></li>
  <li><center>
    <a href="http://cookinginpjs.com/damn-son-those-are-some-seriously-loaded-fries/">
      <img src="{{asset "images/fries.jpg"}}" data-pin-no-hover="true"/>
      <span class="text-content"><span><h3>Mexican Loaded Fries</h3></span></span>
    </a>
  </center></li>
</ul>

<img class="divider" src="{{asset "images/divider.png"}}">

{{!-- MORE BLOGS --}}
<h2>Need More Inspiration?</h2>
<p>Check out some other pretty awesome food blogs</p>
<ul>
  <li><a href="http://uppukhara.com">UppuKhara</a></li>
  <li><a href="http://www.loveandlemons.com">Love & Lemons</a></li>
  <li><a href="http://www.iamafoodblog.com">I am a food blog</a></li>
  <li><a href="http://www.thebeeroness.com">The Beeroness</a></li>
  <li><a href="http://www.halfbakedharvest.com">Half Baked Harvest</a></li>
  <li><a href="http://www.annies-eats.com">Annie's Eats</a></li>
  <li><a href="http://fragrantvanillacake.blogspot.com">Fragrant Vanilla Cake</a></li>
  <li><a href="http://www.thisrawsomeveganlife.com/">This Rawsome Vegan Life</a></li>
  <li><a href="http://talesofakitchen.com">Tales of a Kitchen</a></li>
  <li><a href="http://www.thefirstmess.com/">The First Mess</a></li>
</ul>

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Cooking In Pajamas -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-2905840351559408"
     data-ad-slot="1776887355"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>


