<div class="row social">
  <ul>
    <li>
      <a class="hvr-sink" href="http://facebook.com/pramodsum">
        <img src="{{asset "images/social/Facebook.png"}}" class="u-max-full-width">
      </a>
    </li>
    <li class="one-fifth">
      <a class="hvr-sink" href="http://twitter.com/pramodsum">
        <img src="{{asset "images/social/Twitter2.png"}}" class="u-max-full-width">
      </a>
    </li>
    <li class="one-fifth">
      <a class="hvr-sink" href="http://instagram.com/pramodsum">
        <img src="{{asset "images/social/Instagram.png"}}" class="u-max-full-width">
      </a>
    </li>
    <li class="one-fifth">
      <a class="hvr-sink" href="http://pinterest.com/pramodsum">
        <img src="{{asset "images/social/Pinterest.png"}}" class="u-max-full-width">
      </a>
    </li>
    <li class="one-fifth">
      <a class="hvr-sink" href="http://linkedin.com/in/pramodsum">
        <img src="{{asset "images/social/Linkedin.png"}}" class="u-max-full-width">
      </a>
    </li>
    <li class="one-fifth">
      <a class="hvr-sink" href="http://eepurl.com/beWR25">
        <img src="{{asset "images/social/RSS.png"}}" class="u-max-full-width">
      </a>
    </li>
  </ul>
</div>